//font
$size-h1:35px;
$size-p:16px;

//text color
$color-h1:#1010dd;
$color-p:#1010dd;

// wigth
$wigth-wrapper:75rem;

// background-color
$background-dark: #211F20;
$background-footer:#ddf80d; //Maxim
$background-header:#1fe768; //Maria
$background-main: #413d93; //Anatoliy

//fill
$background-fill: url();
$background-logo: url('./src/img/png/pngwing.com.png');
