//font
$size-h1:35px;
$size-p:16px;

//text color
$color-h1:#1010dd;
$color-p:#1010dd;
$color-h3:rgb(250, 250, 187);

// wigth
$wigth-wrapper:75rem;

// background-color
$background-dark: #211F20;
$background-footer:#ddf80d;
$background-header:#1fe768;
$background-main: #413d93;
$background-gameSprint:rgb(250, 250, 187);


//fill
$background-fill: url();
$background-logo: url('./src/img/png/pngwing.com.png');
