//font
$size-h1: 35px;
$size-p: 16px;

//text color
$color-h1: #000000;
$color-correct-answer: #078528;
$color-incorrect-answer: #ff1919;




// wigth
$wigth-wrapper: 75rem;

// background-color
$color-header: #58dba6;
$background-main: #ffffff;
$color-active: #ffbb33;
$color-little-window: #fffec2;
$color-little-window-1: #595ED6;

//fill
$background-fill: url('../img/png/panda_main.png');
$background-logo: url('./src/img/png/pngwing.com.png');
