#statistic-container{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin: 0 auto;
    align-items: center;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 100px;
    h3, h2{
        flex: 100%;
        margin: 10px 0;
    }
    h2{
        border-radius: 10px;
        padding: 5px;
    }

    #statistic-for-this-day{
        background: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        #words-statistic, #game-statistic{
            padding: 20px;
            display: flex;
            flex-direction: column;
            p{
                padding: 0 10px;
            }
        }
        h2::after, h2::before{
            font-family: "Material Icons";
            color: rgb(255, 162, 0);
            content: '\e885';   
        }
    }
}


#day-stat-container{
    box-shadow: 1px 3px 4px rgb(0 0 0 / 10%);
    background-color: #f9f8fa;
    display: flex;
    flex-direction: column;
    column-gap: 30px;
}

#game-stat-container{
    display: flex;
    column-gap: 50px;
    justify-content: center;
}

#new-words-per-day{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    border-radius: 10px;
}
#sprint-stat-container, #audio-challenge-stat-container, #words-stat-container{
    padding: 20px;
    box-shadow: 1px 3px 4px rgb(0 0 0 / 10%);
    background-color: #f9f8fa;
    border-radius: 10px;

}
.inactive{
    display: none;
}
.active{
    display: block;
}

.all-time-stat-column {
    width: 30px;
    background: rgb(215, 103, 211);
    border: 1px solid rgb(182, 11, 194);
    align-items: baseline;
}
#day-stat-container {
    box-shadow: 1px 3px 4px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    column-gap: 30px;
}
#shedules-container {
    display: flex;
    column-gap: 50px;
}
#schedule-titles {
    display: flex;
    column-gap: 50px;
}
#game-stat-container,
#schedule-stat-container {
    display: flex;
    column-gap: 50px;
    justify-content: center;
}

#new-words-per-day,
#total-learned-words-per-day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    border-radius: 10px;
}
#sprint-stat-container,
#audio-challenge-stat-container,
#words-stat-container {
    box-shadow: 1px 3px 4px rgb(0 0 0 / 10%);
}
.inactive {
    display: none;
}
.active {
    display: block;
}
#canvas1,
#canvas2 {
    border: 1px solid black;
}