.wordCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px;
    padding: 10px;
    margin: 10px 30px;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: 1px 3px 4px rgb(0 0 0 / 10%);
    background-color: #f9f8fa;
    font-size: 13px;
  }
  
  .cardImage{
    border-radius: 10px;
    width: 35%;
    height: 90%;
    margin-right: 20px;
  }
  
  .cardContent{
    color: black;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
  }
  
  .cardHeader{
    .subHeader span:nth-child(1) {
      text-transform: capitalize;
      font-weight: bold;
      font-size: 18px;
    }
    div:nth-child(2) {
      text-transform: capitalize;
      color: rgb(138, 131, 131)
    }
  }
  
 
  
  .cardBody{
    margin: 10px 0 10px 0;
  }
  
  .subSentence{
    color: rgb(138, 131, 131)
  }
  
  .cardAudioIcon{
    height: 15px;
    width: 15px;
  }
  
 
  
  .cardIndicators{
    width: 150px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
  
    span:nth-child(1)::first-letter {
      color: green;
  }
  }

  .difficult {
    border: 2px solid rgb(255, 223, 45);
    box-shadow: 0 0 30px #ffbb33;
    .difficultIcon{
      color: #ffbb33;
    }
  }
  
  .learnt {
    border: 3px solid green;
    box-shadow: 0 0 30px green;
  
    .learntIcon{
      color: green;
    }
  }
  
  .material-icons{
    cursor: pointer;
  }
  
  .learntIcon{
    &:hover {
      color: green;
    }
  }
  
  .difficultIcon{
    &:hover {
      color: #ffbb33;
    }
  }
  
  .hidden{
    display: none;
  }
  