.logo {
  width: 90%;
  background-color: #3b6fe1;
}

#wrapper_sprint_game {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10%;
}

#header_game_sprint {
  width: 50%;
  background-color: aqua;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header_div_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 100%;
  font-size: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_div_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.header_div_2 .score_sprint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 32px;
  width: 70px;
  background-color: yellow;
  border-radius: 5px;
}

.header_div_2 .exet_sprint {
  width: 50px;
  height: 100%;
  background-color: yellow;
}

#main_game_sprint {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  width: 50%;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px #f6eeee;
          box-shadow: 0 0 20px #f6eeee;
  margin-bottom: 10px;
}

.main_div_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  gap: 20px;
}

.img_panda_sprint {
  width: 100%;
  height: 100%;
}

.main_div_word_question, .main_div_word_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 2rem;
  font-weight: bold;
}

#footer_game_sprint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  width: 50%;
  background-color: aqua;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
}

.button_false, .button_true {
  width: 100px;
  padding: 5px;
  font-weight: bold;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  border: none;
  background-color: #fbf291;
  cursor: pointer;
}

.exit_sprint {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.8;
  cursor: pointer;
}

.exit_sprint:hover {
  opacity: 1;
}

.exit_sprint:before, .exit_sprint:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #faf7f7;
}

.exit_sprint:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.exit_sprint:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.blok_for_H3 {
  -webkit-box-shadow: 0 0 10px #f6eeee;
          box-shadow: 0 0 10px #f6eeee;
  border-radius: 15px;
}

.blok_for_H3 .form_result_h3 {
  font-size: 26px;
  color: #fafabb;
  background-color: #717070;
  padding: 5px;
  opacity: 0.8;
  -webkit-box-shadow: 0 0 10px #f6eeee;
          box-shadow: 0 0 10px #f6eeee;
  border-radius: 15px;
}

.wrapper_game_sptint_result {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 50%;
  row-gap: 10px;
}

.wrapper_game_sptint_result .blok_for_result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 97%;
  gap: 5px;
}

.wrapper_game_sptint_result .blok_for_result .form_result_1, .wrapper_game_sptint_result .blok_for_result .form_result_3 {
  background-color: #fafabb;
  opacity: 0.8;
}

.wrapper_game_sptint_result .blok_for_result .form_result_1 {
  width: 0%;
  opacity: 0;
}

.wrapper_game_sptint_result .blok_for_result .form_result_2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr 0.5fr;
      grid-template-columns: 4fr 1fr 0.5fr;
  padding-top: 5px;
  padding-bottom: 5px;
  gap: 10px;
  opacity: 0.8;
}

.wrapper_game_sptint_result .blok_for_result .form_result_2 .tbody_result, .wrapper_game_sptint_result .blok_for_result .form_result_2 .td_wrapper, .wrapper_game_sptint_result .blok_for_result .form_result_2 .td_wrapper_true {
  background-color: #fafabb;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.wrapper_game_sptint_result .blok_for_result .form_result_2 .td_wrapper_true {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr;
      grid-template-columns: 0.5fr;
  border-bottom-style: dotted;
  border-bottom-width: 3px;
  border-bottom-color: #dcd5d5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5px;
}

.wrapper_game_sptint_result .blok_for_result .form_result_2 .td_wrapper_true .colore_ansver {
  border: 2px solid black;
  width: 70%;
  height: 70%;
  border-radius: 100%;
}

.wrapper_game_sptint_result .blok_for_result .form_result_2 .wrapper_rezult {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 0.5fr 4fr;
      grid-template-columns: 4fr 0.5fr 4fr;
  border-bottom-style: dotted;
  border-bottom-width: 3px;
  border-bottom-color: #dcd5d5;
}

.wrapper_game_sptint_result .blok_for_result .form_result_2 .wrapper_rezult .english_word, .wrapper_game_sptint_result .blok_for_result .form_result_2 .wrapper_rezult .single, .wrapper_game_sptint_result .blok_for_result .form_result_2 .wrapper_rezult .translate_word {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  justify-items: center;
}

.wrapper_game_sptint_result .blok_for_result .form_result_2 .wrapper_rezult_ansver {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  border-bottom-style: dotted;
  border-bottom-width: 3px;
  border-bottom-color: #dcd5d5;
}

.wrapper_game_sptint_result .blok_for_result .form_result_2 .wrapper_rezult_ansver .correct_ansver {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  justify-items: center;
}

.wrapper_game_sptint_result .blok_for_result .form_result_3 {
  width: 5%;
}

.wrapper_game_sptint_result .blok_for_result .form_result_3 .repeat_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper_game_sptint_result .blok_for_result .form_result_3 .repeat_btn img {
  width: 50%;
}

.wrapper_game_sptint_result .form_result_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.wrapper_game_sptint_result .form_result_3 .houme_btn, .wrapper_game_sptint_result .form_result_3 .return_btn, .wrapper_game_sptint_result .form_result_3 .rezerv_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
}

.wrapper_game_sptint_result .form_result_3 .houme_btn .img_houme_page, .wrapper_game_sptint_result .form_result_3 .return_btn .img_houme_page, .wrapper_game_sptint_result .form_result_3 .rezerv_btn .img_houme_page {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.close_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.close_btn .level_0_number,
.close_btn .level_1_number,
.close_btn .level_2_number,
.close_btn .level_3_number,
.close_btn .level_4_number,
.close_btn .level_5_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: #178c3a;
  border-radius: 100px;
  font-size: 3rem;
  font-weight: bold;
  color: wheat;
  opacity: 0.9;
  cursor: pointer;
}

.close_btn .level_0_number:hover,
.close_btn .level_1_number:hover,
.close_btn .level_2_number:hover,
.close_btn .level_3_number:hover,
.close_btn .level_4_number:hover,
.close_btn .level_5_number:hover {
  -webkit-box-shadow: 0 0 30px black;
          box-shadow: 0 0 30px black;
  font-size: 4rem;
  color: white;
}

.close_btn .img_panda_0,
.close_btn .img_panda_1,
.close_btn .img_panda_2,
.close_btn .img_panda_3,
.close_btn .img_panda_4,
.close_btn .img_panda_5 {
  width: 6rem;
  height: 6rem;
}

.close_btn .sprint_level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close_btn .sprint_level .level_0_imeg,
.close_btn .sprint_level .level_1_imeg,
.close_btn .sprint_level .level_2_imeg,
.close_btn .sprint_level .level_3_imeg,
.close_btn .sprint_level .level_4_imeg,
.close_btn .sprint_level .level_5_imeg {
  width: 6rem;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  opacity: 0;
}

.close_btn .sprint_level .level_0_number:hover ~ .level_0_imeg,
.close_btn .sprint_level .level_1_number:hover ~ .level_1_imeg,
.close_btn .sprint_level .level_2_number:hover ~ .level_2_imeg,
.close_btn .sprint_level .level_3_number:hover ~ .level_3_imeg,
.close_btn .sprint_level .level_4_number:hover ~ .level_4_imeg,
.close_btn .sprint_level .level_5_number:hover ~ .level_5_imeg {
  opacity: 1;
}

.close_btn_sprint_interfece {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_result_word {
  display: -ms-grid;
  display: grid;
}
/*# sourceMappingURL=style.css.map */